<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--<add name="ConexionMoreProd" connectionString="UkdGMFlTQlRiM1Z5WTJVOVYxTmZOakF6TzBsdWFYUnBZV3dnUTJGMFlXeHZaejFOVDFKRk8wbHVkR1ZuY21GMFpXUWdVMlZqZFhKcGRIazlWSEoxWlE9PQ==" providerName="System.Data.SqlClient"/>--> <!--produccion-->
		<!--<add name="ConexionMoreProd" connectionString="UkdGMFlTQlRiM1Z5WTJVOVYxTmZOakF6TzBsdWFYUnBZV3dnUTJGMFlXeHZaejFOVDFKRk8wbHVkR1ZuY21GMFpXUWdVMlZqZFhKcGRIazlWSEoxWlE9PQ==" providerName="System.Data.SqlClient"/>--> <!--local-->
		<add name="ConexionMoreProd" connectionString="UkdGMFlTQlRiM1Z5WTJVOVYxTmZOakF6TzBsdWFYUnBZV3dnUTJGMFlXeHZaejFRWVhSeWFXTnBZVjlOYjJWc2JHVnlTWEE3U1c1MFpXZHlZWFJsWkNCVFpXTjFjbWwwZVQxVWNuVmw=" providerName="System.Data.SqlClient"/> <!--testing-->
	</connectionStrings>
</configuration>